In [3]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Membaca dataset menus
menus = pd.read_csv('./recommendation/menus.csv')
menus

     menuId                      menu  umkmId
0         1                 Bakso iga       1
1         2                Bakso tahu       1
2         3             Bakso beranak       1
3         4                Bakso urat       2
4         5               Bakso Biasa       2
..      ...                       ...     ...
584     585               Sate kerang     181
585     586  Gorengan bakwan dan tahu     181
586     587          Sate telur puyuh     181
587     588       Sate blengong bakar     181
588     589       Sate blengong masak     181

[589 rows x 3 columns]

In [5]:
# Membaca dataset ratings
ratings = pd.read_csv('./recommendation/ratings.csv')
ratings

          id  menuId  userId  rating    comment
0          1       1       1       3  Fantastic
1          2       2       1       1        Bad
2          3       3       1       5       Poor
3          4       4       1       2        Bad
4          5       5       1       5    Not bad
...      ...     ...     ...     ...        ...
58895  58896     585     100       5        Bad
58896  58897     586     100       1    Average
58897  58898     587     100       5    Not bad
58898  58899     588     100       4    Not bad
58899  58900     589     100       5    Average

[58900 rows x 5 columns]

In [6]:
# Menggabungkan dataset
data = pd.merge(menus, ratings)
data

,menuId,menu,umkmId,id,userId,rating,comment
0,1,Bakso iga,1,1,1,3,Fantastic
1,1,Bakso iga,1,590,2,5,Delicious
2,1,Bakso iga,1,1179,3,3,Not bad
3,1,Bakso iga,1,1768,4,4,Bad
4,1,Bakso iga,1,2357,5,3,Poor
...,...,...,...,...,...,...,...
58895,589,Sate blengong masak,181,56544,96,3,Delicious
58896,589,Sate blengong masak,181,57133,97,5,Could be better
58897,589,Sate blengong masak,181,57722,98,4,Not bad
58898,589,Sate blengong masak,181,58311,99,3,Delicious
58899,589,Sate blengong masak,181,58900,100,5,Average

In [7]:
# Drop data yang tidak diperlukan
data.drop(["comment", "id"], axis=1, inplace=True)
data

       menuId                 menu  umkmId  userId  rating
0           1            Bakso iga       1       1       3
1           1            Bakso iga       1       2       5
2           1            Bakso iga       1       3       3
3           1            Bakso iga       1       4       4
4           1            Bakso iga       1       5       3
...       ...                  ...     ...     ...     ...
58895     589  Sate blengong masak     181      96       3
58896     589  Sate blengong masak     181      97       5
58897     589  Sate blengong masak     181      98       4
58898     589  Sate blengong masak     181      99       3
58899     589  Sate blengong masak     181     100       5

[58900 rows x 5 columns]

In [8]:
data_pivot = data.pivot_table(index="userId", columns="menu", values="rating")
data_pivot

menu,Gulai kepala kambing,Ati ampela goreng,Ayam bakar,Ayam goreng,Ayam goreng srundeng,Ayam gpreng srundeng,Ayam gulai,Ayam penyet sambel ijo,Ayam pop,Bakso telor,...,pecak tempe & tahu,pecel belut goreng,pecel ikan gurame goreng,pecel ikan lele goreng,pecel welut goreng,sayur nangka,tahu tempe pecak,tempe tahu pecak,terong goreng sambel pecel,tongseng Kambing
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,3.666667,2.750,2.0,2.0,1.0,1.0,2.0,3.0,1.0,...,3.0,2.0,3.5,3.076923,1.0,2.0,5.0,2.0,2.333333,3.166667
2,3.0,3.666667,3.375,4.0,2.0,5.0,2.0,4.0,3.0,5.0,...,2.0,5.0,2.5,2.153846,4.0,3.5,3.0,1.0,4.666667,3.000000
3,2.0,4.333333,4.000,4.0,3.0,5.0,3.0,2.0,4.0,3.0,...,4.0,5.0,1.0,2.923077,4.0,4.5,4.0,1.0,4.000000,4.166667
4,2.0,3.000000,2.375,2.0,1.0,2.0,2.0,5.0,5.0,4.0,...,3.5,5.0,2.0,3.461538,5.0,1.5,5.0,5.0,2.333333,2.000000
5,1.0,3.000000,3.750,2.0,4.0,5.0,3.0,5.0,3.0,4.0,...,2.0,5.0,2.0,3.230769,5.0,2.0,2.0,4.0,4.000000,2.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,5.0,1.333333,2.625,1.0,5.0,1.0,1.0,2.0,1.0,1.0,...,1.5,2.0,2.0,3.230769,3.0,2.0,2.0,5.0,3.333333,2.333333
97,5.0,3.666667,3.000,4.0,2.0,5.0,2.0,3.0,3.0,5.0,...,4.5,1.0,1.5,2.923077,2.0,3.0,5.0,5.0,3.333333,3.500000
98,5.0,3.666667,3.500,5.0,4.0,4.0,4.0,5.0,2.0,3.0,...,1.5,2.0,1.5,3.615385,3.0,3.0,5.0,5.0,2.333333,3.000000
99,4.0,4.666667,2.500,1.0,1.0,3.0,3.0,1.0,2.0,2.0,...,3.5,2.0,4.5,2.538462,1.0,3.5,4.0,3.0,2.000000,3.166667
100,2.0,3.333333,2.375,1.0,1.0,4.0,4.0,2.0,1.0,3.0,...,1.0,5.0,2.0,3.076923,3.0,2.0,4.0,1.0,3.000000,2.833333

In [9]:
# Make dataset for the second way
data_pivot2 = pd.pivot(index="menuId", columns="userId", data=ratings, values="rating")
data_pivot2

userId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
menuId,,,,,,,,,,,,,,,,,,,,,
1,3,5,3,4,3,1,3,2,5,1,...,5,3,3,3,4,1,5,3,5,2
2,1,2,1,3,4,1,5,5,5,5,...,5,1,2,3,1,5,1,4,1,3
3,5,4,2,4,1,1,3,4,2,2,...,5,4,3,2,1,3,3,4,2,2
4,2,3,5,5,4,1,5,3,1,1,...,1,2,3,3,5,3,4,5,3,2
5,5,3,4,2,1,1,2,1,4,2,...,3,2,3,5,3,3,5,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2,5,3,1,1,2,5,5,3,5,...,1,5,5,4,5,3,3,3,1,5
586,2,4,5,1,5,2,2,4,4,3,...,2,1,5,2,2,5,3,5,4,1
587,4,1,2,2,2,2,2,4,1,2,...,5,3,4,3,3,5,5,2,4,5
588,2,5,5,2,1,3,5,5,1,3,...,2,4,2,4,3,1,5,5,5,4
589,1,1,5,2,2,2,5,2,5,4,...,4,1,4,1,1,3,5,4,3,5

In [10]:
menu_voted = pd.DataFrame(ratings.groupby("menuId")["rating"].agg("count"))
menu_voted.reset_index(level=0, inplace=True)
menu_voted

     menuId  rating
0         1     100
1         2     100
2         3     100
3         4     100
4         5     100
..      ...     ...
584     585     100
585     586     100
586     587     100
587     588     100
588     589     100

[589 rows x 2 columns]

In [11]:
user_voted = pd.DataFrame(ratings.groupby("userId")["rating"].agg("count"))
user_voted.reset_index(level = 0, inplace = True)
user_voted

    userId  rating
0        1     589
1        2     589
2        3     589
3        4     589
4        5     589
..     ...     ...
95      96     589
96      97     589
97      98     589
98      99     589
99     100     589

[100 rows x 2 columns]

In [12]:
data_pivot2.fillna(0, inplace=True)
data_pivot2

userId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
menuId,,,,,,,,,,,,,,,,,,,,,
1,3,5,3,4,3,1,3,2,5,1,...,5,3,3,3,4,1,5,3,5,2
2,1,2,1,3,4,1,5,5,5,5,...,5,1,2,3,1,5,1,4,1,3
3,5,4,2,4,1,1,3,4,2,2,...,5,4,3,2,1,3,3,4,2,2
4,2,3,5,5,4,1,5,3,1,1,...,1,2,3,3,5,3,4,5,3,2
5,5,3,4,2,1,1,2,1,4,2,...,3,2,3,5,3,3,5,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2,5,3,1,1,2,5,5,3,5,...,1,5,5,4,5,3,3,3,1,5
586,2,4,5,1,5,2,2,4,4,3,...,2,1,5,2,2,5,3,5,4,1
587,4,1,2,2,2,2,2,4,1,2,...,5,3,4,3,3,5,5,2,4,5
588,2,5,5,2,1,3,5,5,1,3,...,2,4,2,4,3,1,5,5,5,4
589,1,1,5,2,2,2,5,2,5,4,...,4,1,4,1,1,3,5,4,3,5

In [13]:
# Last version dataset yang akan digunakan
data_last = data_pivot2.loc[menu_voted[menu_voted["rating"] > 10]["menuId"], :]
data_last = data_last.loc[:, user_voted[user_voted["rating"] > 60]["userId"]]
data_last

userId,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
menuId,,,,,,,,,,,,,,,,,,,,,
1,3,5,3,4,3,1,3,2,5,1,...,5,3,3,3,4,1,5,3,5,2
2,1,2,1,3,4,1,5,5,5,5,...,5,1,2,3,1,5,1,4,1,3
3,5,4,2,4,1,1,3,4,2,2,...,5,4,3,2,1,3,3,4,2,2
4,2,3,5,5,4,1,5,3,1,1,...,1,2,3,3,5,3,4,5,3,2
5,5,3,4,2,1,1,2,1,4,2,...,3,2,3,5,3,3,5,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,2,5,3,1,1,2,5,5,3,5,...,1,5,5,4,5,3,3,3,1,5
586,2,4,5,1,5,2,2,4,4,3,...,2,1,5,2,2,5,3,5,4,1
587,4,1,2,2,2,2,2,4,1,2,...,5,3,4,3,3,5,5,2,4,5
588,2,5,5,2,1,3,5,5,1,3,...,2,4,2,4,3,1,5,5,5,4
589,1,1,5,2,2,2,5,2,5,4,...,4,1,4,1,1,3,5,4,3,5

In [14]:
# Recommendation system
from scipy.sparse import csr_matrix
csr_data = csr_matrix(data_last.values)
data_last.reset_index(inplace=True)

In [15]:
csr_data

<589x100 sparse matrix of type '<class 'numpy.int64'>'
	with 58900 stored elements in Compressed Sparse Row format>

In [16]:
from sklearn.neighbors import NearestNeighbors
knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20, n_jobs=-1)
knn.fit(csr_data)

NearestNeighbors(algorithm='brute', metric='cosine', n_jobs=-1, n_neighbors=20)

In [17]:
def menu_recommendation(menu_name):
    
    n_menus_to_reccomend = 10
    menu_list = menus[menus['menu'].str.contains(menu_name)] # Find movie name
    
    if len(menu_list):
        
        menu_idx = menu_list.iloc[0]['menuId']
        menu_idx = data_last[data_last['menuId'] == menu_idx].index[0]
        
        distances, indices = knn.kneighbors(csr_data[menu_idx],n_neighbors=n_menus_to_reccomend+1)    
        rec_menu_indices = sorted(list(zip(indices.squeeze().tolist(),distances.squeeze().tolist())),key=lambda x: x[1])[:0:-1]
        recommend_frame = []
        
        for val in rec_menu_indices:
            menu_idx = data_last.iloc[val[0]]['menuId']
            idx = menus[menus['menuId'] == menu_idx].index
            recommend_frame.append({'Title':menus.iloc[idx]['menu'].values[0],'Distance':val[1]})
        df = pd.DataFrame(recommend_frame,index=range(1,n_menus_to_reccomend+1))
        return df
    
    else:
        return "No menu found. Please check your input"

In [19]:
# result of Recommendation System
menu_recommendation('bakso')

                                 Title  Distance
1                         Cah kangkung  0.141453
2               Pecel ikan bawal bakar  0.141399
3                  Nasi goreng spesial  0.138164
4                    Nasi goreng biasa  0.137375
5                     Nasi goreng ayam  0.135472
6                         Udang balado  0.134830
7   Kupat glabet + sate blengong masak  0.134800
8                         Bakso daging  0.133801
9                Kupat + sate blengong  0.130340
10                    Sate telur puyuh  0.120549